.author__photo {
    width: 100%;
    align-self: end;
}

@media screen and (max-width:768px) {
    .author__photo{
        width: 232px;
    }
}

@media screen and (max-width:630px) {
    .author__photo{
        width: 60%;
        margin: auto;
    }
}

@media screen and (max-width:460px) {
    .author__photo{
        width: 94.45%;
    }
}