.search__form{
    width: 100%;
    position: relative;
    margin: 58px 0 0;
}

@media screen and (max-width:768px) {
    .search__form{
        margin: 48px 0 0;
    }
}


@media screen and (max-width:500px) {
    .search__form{
        margin: 48px 0 0;
    }
}

@media screen and (max-width:320px) {
    .search__form{
        margin: 118px 0 0;
    }
}