<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск новостей</title> 
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>" />
    <link rel="icon" href="../<%= require('../images/favicon/N.svg').default %>">
</head>
<body>
    <div class="page-two">
        <header class="header header_theme-black">
            <img src="../<%= require('../images/logo-black.svg').default %>" class='header__logo' alt="логотип">
                <div class="header__navigation header__navigation_logged-in">
                    <a href="../index.html" class="header__button">
                        Главная
                    </a>
                    <a href="./index.html" class="header__button header__button_underlined">Сохранённые статьи</a>
                    <button class="header__button header__button_circled">
                        Грета
                        <img class="header__logout" src="../<%= require('../images/logout.svg').default %>" alt="лого выход">
                    </button>
                    <img src="../<%= require('../images/menu-black.svg').default %>" class='header__logo header__logo_menued' alt="логотип">
                </div>
        </header>

        <main class="content">
            <section class="articles">
                <p class="articles__header">Сохранённые статьи</p>
                <h2 class="content__header">Грета, у вас 5<br>сохранённых статей</h2>
                <p class="articles__text">По ключевым словам: <span class="bolt">Природа, Тайга</span> и <span class="bolt">2 другим</span></p>
            </section>

            <section class="results_saved-articles">
                <div class="content__cards content__cards-saved-articles">
                    <div class="content__card">
                        <img src="../<%= require('../images/card/image_06.png').default %>" class="content__image" alt="photo">
                        <p class="content__tag">Природа</p>
                        <div class="content__icon-container content__icon-container_saved-articles">
                            <p class="content__icon-text content__icon-text_saved-articles">Убрать из сохранённых</p>
                            <div class="content__icon content__icon_trash"></div>
                        </div>
                        <div class="content__article">
                            <div class="content__article-container">
                                <p class="content__article-date">
                                    2 августа, 2019
                                </p>
                                <h3 class="content__article-header">
                                    Национальное достояние – парки
                                </h3>
                                <p class="content__article-text">
                                    В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться 
                                    система национальных парков – охраняемых территорий, где и сегодня каждый может 
                                    приобщиться к природе.
                                </p>
                            </div>
                            <p class="content__article-source">ЛЕНТА.РУ</p>
                        </div>
                    </div>
                    <div class="content__card">
                        <img src="../<%= require('../images/card/image_01.png').default %>" class="content__image" alt="photo">
                        <p class="content__tag">Природа</p>
                        <div class="content__icon-container content__icon-container_saved-articles">
                            <p class="content__icon-text content__icon-text_saved-articles">Убрать из сохранённых</p>
                            <div class="content__icon content__icon_trash"></div>
                        </div>
                        <div class="content__article">
                            <div class="content__article-container">
                                <p class="content__article-date">
                                    2 августа, 2019
                                </p>
                                <h3 class="content__article-header">
                                    Национальное достояние – парки
                                </h3>
                                <p class="content__article-text">
                                    В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться 
                                    система национальных парков – охраняемых территорий, где и сегодня каждый может 
                                    приобщиться к природе.
                                </p>
                            </div>
                            <p class="content__article-source">ЛЕНТА.РУ</p>
                        </div>
                    </div>
                    <div class="content__card">
                        <img src="../<%= require('../images/card/image_05.png').default %>" class="content__image" alt="photo">
                        <p class="content__tag">Тайга</p>
                        <div class="content__icon-container content__icon-container_saved-articles">
                            <p class="content__icon-text content__icon-text_saved-articles">Убрать из сохранённых</p>
                            <div class="content__icon content__icon_trash"></div>
                        </div>
                        <div class="content__article">
                            <div class="content__article-container">
                                <p class="content__article-date">
                                    2 августа, 2019
                                </p>
                                <h3 class="content__article-header">
                                    Национальное достояние – парки
                                </h3>
                                <p class="content__article-text">
                                    В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться 
                                    система национальных парков – охраняемых территорий, где и сегодня каждый может 
                                    приобщиться к природе.
                                </p>
                            </div>
                            <p class="content__article-source">ЛЕНТА.РУ</p>
                        </div>
                    </div>
                    <div class="content__card">
                        <img src="../<%= require('../images/card/image_06.png').default %>" class="content__image" alt="photo">
                        <p class="content__tag">Парки</p>
                        <div class="content__icon-container content__icon-container_saved-articles">
                            <p class="content__icon-text content__icon-text_saved-articles">Убрать из сохранённых</p>
                            <div class="content__icon content__icon_trash"></div>
                        </div>
                        <div class="content__article">
                            <div class="content__article-container">
                                <p class="content__article-date">
                                    2 августа, 2019
                                </p>
                                <h3 class="content__article-header">
                                    Национальное достояние – парки
                                </h3>
                                <p class="content__article-text">
                                    В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться 
                                    система национальных парков – охраняемых территорий, где и сегодня каждый может 
                                    приобщиться к природе.
                                </p>
                            </div>
                            <p class="content__article-source">ЛЕНТА.РУ</p>
                        </div>
                    </div>
                    <div class="content__card">
                        <img src="../<%= require('../images/card/image_01.png').default %>" class="content__image" alt="photo">
                        <p class="content__tag">Фотография</p>
                        <div class="content__icon-container content__icon-container_saved-articles">
                            <p class="content__icon-text content__icon-text_saved-articles">Убрать из сохранённых</p>
                            <div class="content__icon content__icon_trash"></div>
                        </div>
                        <div class="content__article">
                            <div class="content__article-container">
                                <p class="content__article-date">
                                    2 августа, 2019
                                </p>
                                <h3 class="content__article-header">
                                    Национальное достояние – парки
                                </h3>
                                <p class="content__article-text">
                                    В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться 
                                    система национальных парков – охраняемых территорий, где и сегодня каждый может 
                                    приобщиться к природе.
                                </p>
                            </div>
                            <p class="content__article-source">ЛЕНТА.РУ</p>
                        </div>
                    </div>    
                </div>
            </section>
            
            <section class="menu ">
                <div class="header menu-theme">
                    <img src="../<%= require('../images/logo.svg').default %>" class='header__logo' alt="логотип">
                    <img src="../<%= require('../images/close.svg').default %>" class='header__logo' alt="меню">
                </div>
                <div class="menu__navigation menu-theme">
                    <a href="../index.html" class="header__button header__button_theme-white header__button_menued">
                        Главная
                    </a>
                    <a href="./index.html" class="header__button header__button_theme-white header__button_menued">Сохранённые статьи</a>
                    <button class="header__button header__button_circled header__button_theme-white header__button_menued">
                        Грета
                        <img class="header__logout header__logout_theme-white" src="../<%= require('../images/logout.svg').default %>" alt="лого выход">
                    </button>
                </div>
            </section>

        </main>

        <footer class="footer">
            <p class="footer__copyrights">
              © 2020 Supersite, Powered By News API
            </p>
            <div class="footer__navigation">
                <a href="../index.html" class="footer__link">Главная</a>
                <div class="footer__link_last">
                    <a target="_blank" href="https://praktikum.yandex.ru" class="footer__link">Яндекс.Практикум</a>
                </div>
                <div class="footer__icons">
                    <a target="_blank" href="https://github.com/">
                        <img src="../<%= require('../images/icon/gh.svg').default %>" class="footer__icon" alt="github">
                    </a>
                    <a target="_blank" href="https://ru-ru.facebook.com/">
                        <img src="../<%= require('../images/icon/fb.svg').default %>" class="footer__icon" alt="facebook">
                    </a>
                </div>
            </div>
          </footer>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>