.footer__navigation{
    display: flex;
    justify-content: space-between;
    width: 32%;
    flex-wrap: wrap;
}


@media screen and (max-width:1279px) {
    .footer__navigation{
        width: 50%;
    }
}

@media screen and (max-width:760px) {
    .footer__navigation{
        width: 100%;
    }
}