.popup__content {
  width: 430px;
  min-height: 182px;
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  padding: 34px 36px 28px;
  box-sizing: border-box;
}

@media screen and (max-width:490px) {
  .popup__content {
    width: 90%;
  }
}

@media screen and (max-width:380px) {
  .popup__content {
    height: 100%;
    width: 100%;
    padding: 16px 16px 0;
  }
}