.content__icon-container{
    position: absolute;
    top: 24px;
    right: 6%;
    display: grid;
    grid-template-columns: auto auto;
}

@media screen and (max-width:768px) {
    .content__icon-container{
        top: 8px;
        right: 8px;
    }
}

@media screen and (max-width:765px) {
    .content__icon-container{
        top: 24px;
        right: 6%;
    }
}


@media screen and (max-width: 400px) {
    .content__icon-container{
        top: 16px;
        right: 16px;
    }
}