.footer__copyrights {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #B6BCBF;
    margin:0;
}


@media screen and (max-width:760px) {
    .footer__copyrights{
        margin-top: 38px;
        width:100%;
        text-align: center;
    }
}

@media screen and (max-width:449px) {
    .footer__copyrights{
        margin-top: 38px;
        text-align: left;
    }
}