.content__image{
    width: 100%;
    background-image: url(../../../images/image_01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 68%;
}

