.content__icon{
    width: 40px;
    height: 40px;
    background: #FFF;
    border-radius: 8px;
    background-image: url(../../../images/flag-gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.content__icon:hover{
    background-image: url(../../../images/flag.svg);
}

input[name="icon"]:checked + .content__icon{
    background-image: url(../../../images/flag-blue.svg);
}